@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.scroll-track {
  animation: scrollClients 40s linear infinite;
}

@keyframes scrollClients {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.input {
  @apply w-full px-4 py-3 border border-gray-300 rounded-lg 
  focus:ring-2 focus:ring-amber-500 outline-none;
}

.btn-primary {
  @apply bg-amber-600 text-white py-3 rounded-xl hover:bg-amber-700;
}